swagger: '2.0'
info:
  description: This is a sample of APROPLAN API.
  version: 1.7.0
  title: APROPLAN API
  termsOfService: 'http://swagger.io/terms/'
  contact:
    name: APROPLAN support
    email: support@aproplan.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: api.aproplan.com
basePath: /rest
tags:
  - name: Login
    description: necessary method to identify a user
  - name: Projects
    description: Everything about the Project
  - name: Documents
    description: Everything about the Document
  - name: Lists
    description: Everything about the lists
  - name: Annotations
    description: Common objects for Points and Forms
  - name: Points
    description: Everything about the Points
  - name: Forms
    description: Everything about Forms
  - name: Form Synchronization
    description: Everything about Forms
  - name: Form Templates
    description: Everything about Form Templates
  - name: Companies
    description: Everything about the managed companies
  - name: Reports
    description: Everything about the reports
schemes:
  - https
parameters:
  tokenParam:
    name: t
    in: query
    description: the token to call the api method
    required: true
    type: string
  versionParam:
    name: v
    in: query
    description: the version of the API V1 to use
    required: true
    type: string
  dateFormatParam:
    name: dateformat
    in: query
    description: to specify how date must be formatted
    required: false
    type: string
    enum:
      - microsoft
      - iso
    default: microsoft
  requesterParam:
    name: requesterid
    in: query
    required: true
    type: string
    description: >-
      this is the token you received from aproplan to identify as a user of the
      APROPLAN API
  filterParam:
    in: query
    name: filter
    description: >-
      This is the filter to apply to retrieve the list of entities available for
      the current user
    type: string
  pathtoloadParam:
    in: query
    name: pathtoload
    description: >-
      This is the pathtoload to know which related entities we need to retrieve
      in the call
    type: string
  sortorderParam:
    in: query
    name: sortorder
    description: >-
      Specify the property on which the list of data can sorted. Each property
      must be separated by comma. Depending of the kind of entity to load, the
      properties used for sort are specific.
    type: string
  loadfkParam:
    in: query
    name: isloadfkidproperty
    description: >-
      "To specify if it is necessary to load Id of related object. Example: You
      want to load Country with to load the object Language but you want at
      least to have the Language object created with only the Id property
      (Country.Language.Id).  In that case, you need to specify this parameter
      to true    "
    type: string
  requestedBlockSizeParam:
    in: query
    name: requestedBlockSize
    type: number
  timestampParam:
    in: query
    name: timestamp
    type: string
    format: date-time
  formatParam:
    in: query
    name: format
    type: string
    enum:
      - json
      - excel
    description: >-
      to specify in which format the output must be generated. By default, it is
      json
  idsParam:
    in: query
    name: ids
    type: string
    description: this is the list of entity's ids separated by comma
paths:
  /loginsecure:
    post:
      operationId: loginSecure
      tags:
        - Login
      summary: 'to identify a user and then, to be able to make other call in the api'
      parameters:
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AliasPass'
      responses:
        '200':
          description: >-
            Successful operation returning a new TokenInfo object with the new
            valid token to use
          schema:
            $ref: '#/definitions/TokenInfo'
  /renewtoken:
    get:
      operationId: renewToken
      tags:
        - Login
      summary: >-
        Permit to request a new token to identify the user before the current
        one becomes invalidate.
      parameters:
        - $ref: '#/parameters/versionParam'
        - in: query
          name: t
          description: >-
            the current valid token received at the login or a previous renew
            token
          type: string
      responses:
        '200':
          description: >-
            Successful operation returning a new TokenInfo object with the new
            valid token to use
          schema:
            $ref: '#/definitions/TokenInfo'
  /users:
    post:
      operationId: createUser
      tags:
        - Login
      summary: Create an account in APROPLAN
      description: >-
        To create an new user in aproplan, it is necessary to send the user
        object with at least the following properties of User object * Id *
        Alias * DisplayName * Person
          * Id
          * Code
          * Name
          * LanguageCode
          * Country
            * Id
        * LanguageCode
      parameters:
        - $ref: '#/parameters/versionParam'
        - in: body
          name: body
          description: 'Need an object with 2 properties: User and Pass'
          schema:
            $ref: '#/definitions/UserPass'
      responses:
        '200':
          description: Successful operation
          schema:
            $ref: '#/definitions/User'
  /countrycount:
    get:
      operationId: getCountryCount
      tags:
        - IdentFiles
      summary: Return the count of country available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of country corresponding
            to the queries parameters
          schema:
            type: number
  /countries:
    get:
      operationId: getCountry
      tags:
        - IdentFiles
      summary: Return the list of country available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of country corresponding to
            the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Country'
    post:
      operationId: postCountry
      tags:
        - IdentFiles
      summary: To create new country in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of country to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Country'
      responses:
        '200':
          description: Successful operation to create new country array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Country'
    put:
      operationId: putCountry
      tags:
        - IdentFiles
      summary: To update country in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of country to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Country'
      responses:
        '200':
          description: Successful operation to update array of country in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Country'
    delete:
      operationId: deleteCountry
      tags:
        - IdentFiles
      summary: To delete items of country in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of country id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of country
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /countriesids:
    get:
      operationId: getCountryIds
      tags:
        - IdentFiles
      summary: >-
        Return the list of id corresponding to the country available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of country
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /languagecount:
    get:
      operationId: getLanguageCount
      tags:
        - IdentFiles
      summary: Return the count of language available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of language corresponding
            to the queries parameters
          schema:
            type: number
  /languages:
    get:
      operationId: getLanguage
      tags:
        - IdentFiles
      summary: Return the list of language available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of language corresponding
            to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'
    post:
      operationId: postLanguage
      tags:
        - IdentFiles
      summary: To create new language in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of language to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'
      responses:
        '200':
          description: Successful operation to create new language array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'
    put:
      operationId: putLanguage
      tags:
        - IdentFiles
      summary: To update language in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of language to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'
      responses:
        '200':
          description: Successful operation to update array of language in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Language'
    delete:
      operationId: deleteLanguage
      tags:
        - IdentFiles
      summary: To delete items of language in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of language id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of language
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /languagesids:
    get:
      operationId: getLanguageIds
      tags:
        - IdentFiles
      summary: >-
        Return the list of id corresponding to the language available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of language
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /professioncount:
    get:
      operationId: getProfessionCount
      tags:
        - IdentFiles
      summary: Return the count of profession available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of profession
            corresponding to the queries parameters
          schema:
            type: number
  /professions:
    get:
      operationId: getProfession
      tags:
        - IdentFiles
      summary: Return the list of profession available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of profession corresponding
            to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Profession'
    post:
      operationId: postProfession
      tags:
        - IdentFiles
      summary: To create new profession in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of profession to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Profession'
      responses:
        '200':
          description: Successful operation to create new profession array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Profession'
    put:
      operationId: putProfession
      tags:
        - IdentFiles
      summary: To update profession in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of profession to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Profession'
      responses:
        '200':
          description: Successful operation to update array of profession in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Profession'
    delete:
      operationId: deleteProfession
      tags:
        - IdentFiles
      summary: To delete items of profession in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of profession id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of profession
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /professionsids:
    get:
      operationId: getProfessionIds
      tags:
        - IdentFiles
      summary: >-
        Return the list of id corresponding to the profession available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of profession
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /phonecount:
    get:
      operationId: getPhoneCount
      tags:
        - Actors
      summary: Return the count of phone available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of phone corresponding to
            the queries parameters
          schema:
            type: number
  /phones:
    get:
      operationId: getPhone
      tags:
        - Actors
      summary: Return the list of phone available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of phone corresponding to
            the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Phone'
    post:
      operationId: postPhone
      tags:
        - Actors
      summary: To create new phone in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of phone to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Phone'
      responses:
        '200':
          description: Successful operation to create new phone array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Phone'
    put:
      operationId: putPhone
      tags:
        - Actors
      summary: To update phone in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of phone to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Phone'
      responses:
        '200':
          description: Successful operation to update array of phone in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Phone'
    delete:
      operationId: deletePhone
      tags:
        - Actors
      summary: To delete items of phone in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of phone id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of phone
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /phonesids:
    get:
      operationId: getPhoneIds
      tags:
        - Actors
      summary: >-
        Return the list of id corresponding to the phone available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of phone
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /personcount:
    get:
      operationId: getPersonCount
      tags:
        - Actors
      summary: Return the count of person available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of person corresponding to
            the queries parameters
          schema:
            type: number
  /persons:
    get:
      operationId: getPerson
      tags:
        - Actors
      summary: Return the list of person available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of person corresponding to
            the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Person'
    post:
      operationId: postPerson
      tags:
        - Actors
      summary: To create new person in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of person to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Person'
      responses:
        '200':
          description: Successful operation to create new person array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Person'
    put:
      operationId: putPerson
      tags:
        - Actors
      summary: To update person in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of person to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Person'
      responses:
        '200':
          description: Successful operation to update array of person in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Person'
    delete:
      operationId: deletePerson
      tags:
        - Actors
      summary: To delete items of person in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of person id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of person
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /personsids:
    get:
      operationId: getPersonIds
      tags:
        - Actors
      summary: >-
        Return the list of id corresponding to the person available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of person
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /managedcompanycount:
    get:
      operationId: getManagedcompanyCount
      tags:
        - Companies
      summary: Return the count of managedcompany available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of managedcompany
            corresponding to the queries parameters
          schema:
            type: number
  /managedcompanies:
    get:
      operationId: getManagedcompany
      tags:
        - Companies
      summary: Return the list of managedcompany available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of managedcompany
            corresponding to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/ManagedCompany'
    post:
      operationId: postManagedcompany
      tags:
        - Companies
      summary: To create new managedcompany in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of managedcompany to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ManagedCompany'
      responses:
        '200':
          description: Successful operation to create new managedcompany array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ManagedCompany'
    put:
      operationId: putManagedcompany
      tags:
        - Companies
      summary: To update managedcompany in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of managedcompany to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ManagedCompany'
      responses:
        '200':
          description: Successful operation to update array of managedcompany in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ManagedCompany'
    delete:
      operationId: deleteManagedcompany
      tags:
        - Companies
      summary: To delete items of managedcompany in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of managedcompany id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of managedcompany
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /managedcompaniesids:
    get:
      operationId: getManagedcompanyIds
      tags:
        - Companies
      summary: >-
        Return the list of id corresponding to the managedcompany available to
        the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of managedcompany
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /companyusercount:
    get:
      operationId: getCompanyuserCount
      tags:
        - Companies
      summary: Return the count of companyuser available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of companyuser
            corresponding to the queries parameters
          schema:
            type: number
  /companyusers:
    get:
      operationId: getCompanyuser
      tags:
        - Companies
      summary: Return the list of companyuser available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of companyuser
            corresponding to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUser'
    post:
      operationId: postCompanyuser
      tags:
        - Companies
      summary: To create new companyuser in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of companyuser to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUser'
      responses:
        '200':
          description: Successful operation to create new companyuser array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUser'
    put:
      operationId: putCompanyuser
      tags:
        - Companies
      summary: To update companyuser in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of companyuser to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUser'
      responses:
        '200':
          description: Successful operation to update array of companyuser in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUser'
    delete:
      operationId: deleteCompanyuser
      tags:
        - Companies
      summary: To delete items of companyuser in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of companyuser id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of companyuser
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /companyusersids:
    get:
      operationId: getCompanyuserIds
      tags:
        - Companies
      summary: >-
        Return the list of id corresponding to the companyuser available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of companyuser
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /companyusersync:
    get:
      operationId: getCompanyuserSync
      tags:
        - Companies
      summary: >-
        Return the list of companyuser created, deleted or added from a specific
        date if specified (The CRUD action can be on the entity himself or one
        of linked detail entity).  The collection returned contains all detail
        entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of companyuser for which a
            modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUser'
  /companyuserinvitationrequestcount:
    get:
      operationId: getCompanyuserinvitationrequestCount
      tags:
        - Companies
      summary: >-
        Return the count of companyuserinvitationrequest available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of
            companyuserinvitationrequest corresponding to the queries parameters
          schema:
            type: number
  /companyuserinvitationrequests:
    get:
      operationId: getCompanyuserinvitationrequest
      tags:
        - Companies
      summary: >-
        Return the list of companyuserinvitationrequest available to the current
        user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of
            companyuserinvitationrequest corresponding to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUserInvitationRequest'
    post:
      operationId: postCompanyuserinvitationrequest
      tags:
        - Companies
      summary: To create new companyuserinvitationrequest in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: >-
            This is the array of companyuserinvitationrequest to create through
            the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUserInvitationRequest'
      responses:
        '200':
          description: >-
            Successful operation to create new companyuserinvitationrequest
            array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUserInvitationRequest'
    put:
      operationId: putCompanyuserinvitationrequest
      tags:
        - Companies
      summary: To update companyuserinvitationrequest in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: >-
            This is the array of companyuserinvitationrequest to update in the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUserInvitationRequest'
      responses:
        '200':
          description: >-
            Successful operation to update array of companyuserinvitationrequest
            in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/CompanyUserInvitationRequest'
    delete:
      operationId: deleteCompanyuserinvitationrequest
      tags:
        - Companies
      summary: To delete items of companyuserinvitationrequest in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of companyuserinvitationrequest id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of
            companyuserinvitationrequest corresponding to ids in parameters are
            deleted from the cloud
          schema:
            type: string
            example: success
  /companyuserinvitationrequestsids:
    get:
      operationId: getCompanyuserinvitationrequestIds
      tags:
        - Companies
      summary: >-
        Return the list of id corresponding to the companyuserinvitationrequest
        available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of
            companyuserinvitationrequest corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /projectcount:
    get:
      operationId: getProjectCount
      tags:
        - Projects
      summary: Return the count of project available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of project corresponding
            to the queries parameters
          schema:
            type: number
  /projects:
    get:
      operationId: getProject
      tags:
        - Projects
      summary: Return the list of project available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of project corresponding to
            the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
    post:
      operationId: postProject
      tags:
        - Projects
      summary: To create new project in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of project to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
      responses:
        '200':
          description: Successful operation to create new project array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
    put:
      operationId: putProject
      tags:
        - Projects
      summary: To update project in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of project to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
      responses:
        '200':
          description: Successful operation to update array of project in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
    delete:
      operationId: deleteProject
      tags:
        - Projects
      summary: To delete items of project in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of project id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of project
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /projectsids:
    get:
      operationId: getProjectIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the project available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of project
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /projectsync:
    get:
      operationId: getProjectSync
      tags:
        - Projects
      summary: >-
        Return the list of project created, deleted or added from a specific
        date if specified (The CRUD action can be on the entity himself or one
        of linked detail entity).  The collection returned contains all detail
        entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of project for which a
            modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/Project'
  /chaptercount:
    get:
      operationId: getChapterCount
      tags:
        - Projects
      summary: Return the count of chapter available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of chapter corresponding
            to the queries parameters
          schema:
            type: number
  /chapters:
    get:
      operationId: getChapter
      tags:
        - Projects
      summary: Return the list of chapter available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of chapter corresponding to
            the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Chapter'
    post:
      operationId: postChapter
      tags:
        - Projects
      summary: To create new chapter in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of chapter to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Chapter'
      responses:
        '200':
          description: Successful operation to create new chapter array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Chapter'
    put:
      operationId: putChapter
      tags:
        - Projects
      summary: To update chapter in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of chapter to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Chapter'
      responses:
        '200':
          description: Successful operation to update array of chapter in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Chapter'
    delete:
      operationId: deleteChapter
      tags:
        - Projects
      summary: To delete items of chapter in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of chapter id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of chapter
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /chaptersids:
    get:
      operationId: getChapterIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the chapter available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of chapter
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /chaptersync:
    get:
      operationId: getChapterSync
      tags:
        - Projects
      summary: >-
        Return the list of chapter created, deleted or added from a specific
        date if specified (The CRUD action can be on the entity himself or one
        of linked detail entity).  The collection returned contains all detail
        entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of chapter for which a
            modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/Chapter'
  /issuetypecount:
    get:
      operationId: getIssuetypeCount
      tags:
        - Projects
      summary: Return the count of issuetype available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of issuetype corresponding
            to the queries parameters
          schema:
            type: number
  /issuetypes:
    get:
      operationId: getIssuetype
      tags:
        - Projects
      summary: Return the list of issuetype available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of issuetype corresponding
            to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueType'
    post:
      operationId: postIssuetype
      tags:
        - Projects
      summary: To create new issuetype in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of issuetype to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueType'
      responses:
        '200':
          description: Successful operation to create new issuetype array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueType'
    put:
      operationId: putIssuetype
      tags:
        - Projects
      summary: To update issuetype in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of issuetype to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueType'
      responses:
        '200':
          description: Successful operation to update array of issuetype in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueType'
    delete:
      operationId: deleteIssuetype
      tags:
        - Projects
      summary: To delete items of issuetype in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of issuetype id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of issuetype
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /issuetypesids:
    get:
      operationId: getIssuetypeIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the issuetype available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of issuetype
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /issuetypesync:
    get:
      operationId: getIssuetypeSync
      tags:
        - Projects
      summary: >-
        Return the list of issuetype created, deleted or added from a specific
        date if specified (The CRUD action can be on the entity himself or one
        of linked detail entity).  The collection returned contains all detail
        entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of issuetype for which a
            modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueType'
  /issuetypenotesubjectcount:
    get:
      operationId: getIssuetypenotesubjectCount
      tags:
        - Projects
      summary: Return the count of issuetypenotesubject available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of issuetypenotesubject
            corresponding to the queries parameters
          schema:
            type: number
  /issuetypenotesubjects:
    get:
      operationId: getIssuetypenotesubject
      tags:
        - Projects
      summary: Return the list of issuetypenotesubject available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of issuetypenotesubject
            corresponding to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueTypeNoteSubject'
    post:
      operationId: postIssuetypenotesubject
      tags:
        - Projects
      summary: To create new issuetypenotesubject in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: >-
            This is the array of issuetypenotesubject to create through the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueTypeNoteSubject'
      responses:
        '200':
          description: >-
            Successful operation to create new issuetypenotesubject array in the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueTypeNoteSubject'
    put:
      operationId: putIssuetypenotesubject
      tags:
        - Projects
      summary: To update issuetypenotesubject in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of issuetypenotesubject to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueTypeNoteSubject'
      responses:
        '200':
          description: >-
            Successful operation to update array of issuetypenotesubject in the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/IssueTypeNoteSubject'
    delete:
      operationId: deleteIssuetypenotesubject
      tags:
        - Projects
      summary: To delete items of issuetypenotesubject in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of issuetypenotesubject id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of
            issuetypenotesubject corresponding to ids in parameters are deleted
            from the cloud
          schema:
            type: string
            example: success
  /issuetypenotesubjectsids:
    get:
      operationId: getIssuetypenotesubjectIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the issuetypenotesubject
        available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of
            issuetypenotesubject corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /parentcellcount:
    get:
      operationId: getParentcellCount
      tags:
        - Projects
      summary: Return the count of parentcell available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of parentcell
            corresponding to the queries parameters
          schema:
            type: number
  /parentcells:
    get:
      operationId: getParentcell
      tags:
        - Projects
      summary: Return the list of parentcell available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of parentcell corresponding
            to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/ParentCell'
    post:
      operationId: postParentcell
      tags:
        - Projects
      summary: To create new parentcell in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of parentcell to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ParentCell'
      responses:
        '200':
          description: Successful operation to create new parentcell array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ParentCell'
    put:
      operationId: putParentcell
      tags:
        - Projects
      summary: To update parentcell in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of parentcell to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ParentCell'
      responses:
        '200':
          description: Successful operation to update array of parentcell in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ParentCell'
    delete:
      operationId: deleteParentcell
      tags:
        - Projects
      summary: To delete items of parentcell in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of parentcell id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of parentcell
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /parentcellsids:
    get:
      operationId: getParentcellIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the parentcell available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of parentcell
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /parentcellsync:
    get:
      operationId: getParentcellSync
      tags:
        - Projects
      summary: >-
        Return the list of parentcell created, deleted or added from a specific
        date if specified (The CRUD action can be on the entity himself or one
        of linked detail entity).  The collection returned contains all detail
        entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of parentcell for which a
            modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/ParentCell'
  /subcellcount:
    get:
      operationId: getSubcellCount
      tags:
        - Projects
      summary: Return the count of subcell available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of subcell corresponding
            to the queries parameters
          schema:
            type: number
  /subcells:
    get:
      operationId: getSubcell
      tags:
        - Projects
      summary: Return the list of subcell available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of subcell corresponding to
            the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/SubCell'
    post:
      operationId: postSubcell
      tags:
        - Projects
      summary: To create new subcell in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of subcell to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/SubCell'
      responses:
        '200':
          description: Successful operation to create new subcell array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/SubCell'
    put:
      operationId: putSubcell
      tags:
        - Projects
      summary: To update subcell in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of subcell to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/SubCell'
      responses:
        '200':
          description: Successful operation to update array of subcell in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/SubCell'
    delete:
      operationId: deleteSubcell
      tags:
        - Projects
      summary: To delete items of subcell in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of subcell id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of subcell
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /subcellsids:
    get:
      operationId: getSubcellIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the subcell available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of subcell
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /subcellsync:
    get:
      operationId: getSubcellSync
      tags:
        - Projects
      summary: >-
        Return the list of subcell created, deleted or added from a specific
        date if specified (The CRUD action can be on the entity himself or one
        of linked detail entity).  The collection returned contains all detail
        entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of subcell for which a
            modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/SubCell'
  /noteprojectstatuscount:
    get:
      operationId: getNoteprojectstatusCount
      tags:
        - Projects
      summary: Return the count of noteprojectstatus available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of noteprojectstatus
            corresponding to the queries parameters
          schema:
            type: number
  /noteprojectstatus:
    get:
      operationId: getNoteprojectstatus
      tags:
        - Projects
      summary: Return the list of noteprojectstatus available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of noteprojectstatus
            corresponding to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/NoteProjectStatus'
    post:
      operationId: postNoteprojectstatus
      tags:
        - Projects
      summary: To create new noteprojectstatus in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of noteprojectstatus to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/NoteProjectStatus'
      responses:
        '200':
          description: >-
            Successful operation to create new noteprojectstatus array in the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/NoteProjectStatus'
    put:
      operationId: putNoteprojectstatus
      tags:
        - Projects
      summary: To update noteprojectstatus in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of noteprojectstatus to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/NoteProjectStatus'
      responses:
        '200':
          description: >-
            Successful operation to update array of noteprojectstatus in the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/NoteProjectStatus'
    delete:
      operationId: deleteNoteprojectstatus
      tags:
        - Projects
      summary: To delete items of noteprojectstatus in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of noteprojectstatus id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of
            noteprojectstatus corresponding to ids in parameters are deleted
            from the cloud
          schema:
            type: string
            example: success
  /noteprojectstatusids:
    get:
      operationId: getNoteprojectstatusIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the noteprojectstatus available
        to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of noteprojectstatus
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /noteprojectstatussync:
    get:
      operationId: getNoteprojectstatusSync
      tags:
        - Projects
      summary: >-
        Return the list of noteprojectstatus created, deleted or added from a
        specific date if specified (The CRUD action can be on the entity himself
        or one of linked detail entity).  The collection returned contains all
        detail entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of noteprojectstatus for
            which a modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/NoteProjectStatus'
  /foldercount:
    get:
      operationId: getFolderCount
      tags:
        - Projects
      summary: Return the count of folder available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of folder corresponding to
            the queries parameters
          schema:
            type: number
  /folders:
    get:
      operationId: getFolder
      tags:
        - Projects
      summary: Return the list of folder available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of folder corresponding to
            the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/Folder'
    post:
      operationId: postFolder
      tags:
        - Projects
      summary: To create new folder in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of folder to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Folder'
      responses:
        '200':
          description: Successful operation to create new folder array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Folder'
    put:
      operationId: putFolder
      tags:
        - Projects
      summary: To update folder in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of folder to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Folder'
      responses:
        '200':
          description: Successful operation to update array of folder in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/Folder'
    delete:
      operationId: deleteFolder
      tags:
        - Projects
      summary: To delete items of folder in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of folder id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of folder
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /foldersids:
    get:
      operationId: getFolderIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the folder available to the
        current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of folder
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /foldersync:
    get:
      operationId: getFolderSync
      tags:
        - Projects
      summary: >-
        Return the list of folder created, deleted or added from a specific date
        if specified (The CRUD action can be on the entity himself or one of
        linked detail entity).  The collection returned contains all detail
        entities and contains also entities deleted
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/requestedBlockSizeParam'
        - $ref: '#/parameters/timestampParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of folder for which a
            modification has been done from the specific date
          schema:
            type: array
            items:
              $ref: '#/definitions/Folder'
  /foldervisibilitycount:
    get:
      operationId: getFoldervisibilityCount
      tags:
        - Projects
      summary: Return the count of foldervisibility available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of foldervisibility
            corresponding to the queries parameters
          schema:
            type: number
  /foldervisibilities:
    get:
      operationId: getFoldervisibility
      tags:
        - Projects
      summary: Return the list of foldervisibility available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of foldervisibility
            corresponding to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/FolderVisibility'
    post:
      operationId: postFoldervisibility
      tags:
        - Projects
      summary: To create new foldervisibility in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of foldervisibility to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/FolderVisibility'
      responses:
        '200':
          description: >-
            Successful operation to create new foldervisibility array in the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/FolderVisibility'
    put:
      operationId: putFoldervisibility
      tags:
        - Projects
      summary: To update foldervisibility in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of foldervisibility to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/FolderVisibility'
      responses:
        '200':
          description: >-
            Successful operation to update array of foldervisibility in the
            cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/FolderVisibility'
    delete:
      operationId: deleteFoldervisibility
      tags:
        - Projects
      summary: To delete items of foldervisibility in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of foldervisibility id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of foldervisibility
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /foldervisibilitiesids:
    get:
      operationId: getFoldervisibilityIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the foldervisibility available to
        the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of id of foldervisibility
            corresponding to the queries parameters
          schema:
            type: array
            items:
              type: string
  /contactdetailscount:
    get:
      operationId: getContactdetailsCount
      tags:
        - Projects
      summary: Return the count of contactdetails available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the number of contactdetails
            corresponding to the queries parameters
          schema:
            type: number
  /contactdetails:
    get:
      operationId: getContactdetails
      tags:
        - Projects
      summary: Return the list of contactdetails available to the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - $ref: '#/parameters/filterParam'
        - $ref: '#/parameters/pathtoloadParam'
      description: ''
      responses:
        '200':
          description: >-
            Successful operation returning the array of contactdetails
            corresponding to the queries parameters
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactDetails'
    post:
      operationId: postContactdetails
      tags:
        - Projects
      summary: To create new contactdetails in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of contactdetails to create through the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactDetails'
      responses:
        '200':
          description: Successful operation to create new contactdetails array in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactDetails'
    put:
      operationId: putContactdetails
      tags:
        - Projects
      summary: To update contactdetails in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: This is the array of contactdetails to update in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactDetails'
      responses:
        '200':
          description: Successful operation to update array of contactdetails in the cloud
          schema:
            type: array
            items:
              $ref: '#/definitions/ContactDetails'
    delete:
      operationId: deleteContactdetails
      tags:
        - Projects
      summary: To delete items of contactdetails in the cloud APROPLAN
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
        - $ref: '#/parameters/requesterParam'
        - $ref: '#/parameters/dateFormatParam'
        - in: body
          name: body
          description: Array of contactdetails id to delete from the cloud
          required: true
          schema:
            type: array
            items:
              type: string
            example:
              - ea5d793f-c795-4311-8344-eb18e8efa065
              - afff9354-abb3-4a9c-aca5-9810490938ef
      responses:
        '200':
          description: >-
            Successful operation meaning all specified items of contactdetails
            corresponding to ids in parameters are deleted from the cloud
          schema:
            type: string
            example: success
  /contactdetailsids:
    get:
      operationId: getContactdetailsIds
      tags:
        - Projects
      summary: >-
        Return the list of id corresponding to the contactdetails available to
        the current user
      parameters:
        - $ref: '#/parameters/tokenParam'
        - $ref: '#/parameters/versionParam'
[...]
